<div class="msg-data-notice">
    <div class="notice-last-signin">
        Last sign in <br/>
        {{format-date lastLogin "LLL"}} <br/>
        {{moment-to-now lastLogin}} ago
    </div>
    <img class="notice-img" src="/images/site/msg-no-view.png" alt=""/>
    <p class="text-muted">Please choose a message <br/> to see it here.</p>
    <p class="text-muted-sign">We are not showing your messages without your <br/> consent to protect your privacy.</p>
</div>
